#app-header {
    width: 100%;
    height: 64px;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-bg-secondary);
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
    overflow-x: auto;
    box-sizing: border-box;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  letter-spacing: -0.02em; /* Tighter letters look cuter/modern */
}

#header-left {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}


#logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: linear-gradient(135deg, #8b5cf6, #3b82f6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}


#title {
    font-size: 18px;
    font-weight: 600;
}


#header-center {
    display: flex;
    align-items: center;
    gap: 16px;
}


.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color:white;
}


.run-btn {
    background-color: var(--color-text-success);
}

.signin-btn {
    background-color: var(--color-bubble-secondary);
}

.menu-btn, .signup-btn, .submit-btn {
    background-color: var(--color-bubble-main);
}


#header-right {
    display: flex;
    align-items: center;
    gap: 16px;
}


#signin-btn {
    background: none;
    border: none;
    color: #d1d5db;
    cursor: pointer;
    font-size: 14px;
}